<div style="padding-top: 6rem;">
    <div class="card">
        <div class="container pt-3">
            <div class="justify-content-center d-flex">
                <h3>Current Db Approach: {{dbApproach}}</h3>
            </div>
    
            <h3>• Select Db Approach:</h3>
            <div class="pt-2 p-3" style="display: flex; ">
                <span style="flex: .5;"></span>
                <!-- default checked  -->
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                    [checked]="dbApproach == 'ADO' ? true : false" (click)="setoption('ADO')">
                    <label class="form-check-label" for="flexRadioDefault1">
                      ADO
                    </label>
                </div>
                <span style="flex: .5;"></span>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                    [checked]="dbApproach == 'Code First' ? true : false" (click)="setoption('Code First')">
                    <label class="form-check-label" for="flexRadioDefault1">
                      Code First
                    </label>
                </div>
                <span style="flex: .5;"></span>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1"
                    [checked]="dbApproach == 'Data First' ? true : false" (click)="setoption('Data First')">
                    <label class="form-check-label" for="flexRadioDefault1">
                      Azure - Data First
                    </label>
                </div>
                <span style="flex: .5;"></span>
            </div>
    
    
            <h3>• AWS URL:</h3>
            <div class="pt-2 p-3">
    
                <div class="input-group mb-3">
                    <input type="text" class="form-control no-outline" placeholder="{{awsURL}}"  
                    id="copytext"
                    aria-describedby="button-addon2" readonly
                    >
                    <button class="btn btn-outline-secondary" type="button" id="button-addon2"
                    style="background-color: #90caf9; color: black;"
                    (click)="copy()">Copy</button>
                </div>
    
            </div>
        </div>
    </div>
</div>